.contact-img { width: 100%; }

.clr50 { clear: both; height: 50px; }
.popover-col { width: 100%; box-sizing: border-box; background-color: #556783; padding: 20px;}
.btn-1 { background-color: #fff; padding: 12px 40px; color: #556783; border: 1px solid #556783; cursor: pointer; font-weight: 700;}
.btn-1:hover { background-color: #556783; border: 1px solid #fff; color: #fff; }


.modal { background: rgba(0, 0, 0, 0.7); }
.modal-header { padding: 0; }
.modal-dialog { max-width: 991px; width: 100%; }
.logo-col {
    background: url(../images/contact-us-logo-bg.png) center center no-repeat;
    background-size: 100%;
    padding: 25px 0 0 25px;
}
.logo-col p {
    font-size: 14px;
    color: #0a6d14;
    font-weight: 300;
    width: 54%;
    float: left;
    margin-top: 40px;
    line-height: 18px;
    text-align: left;
}
.contact-col { text-align: center; padding-bottom: 20px;}
.contact-col h2 { display: inline-block;
    margin: 30px 0 50px 0;
    text-transform: capitalize;
    letter-spacing: normal;
    font-weight: 600;
}
.modal-header .close {
    background-color: #e67e22;
    opacity: 1;
    margin-top: 0;
    padding: 0px;
    font-size: 40px;
    color: #fff;
    width: 42px;
    height: 42px;
    font-weight: 300;
    font-family: -webkit-pictograph;
}
.contact-col form { width: 70%; box-sizing:  border-box; margin: 0 auto; display: inline-block; padding-bottom: 0; padding-top: 0; }
.contact-col form legend img { width: 20px; float: left; margin: 5px 10px 0 0;  }
.contact-col form legend { text-align: left; font-size: 22px; font-weight: 600; line-height: 25px; color:#000;}
.contact-col .parents-input img {
    width:auto;
}
.contact-col .form-group {
    margin-top: 14px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 14px;
}
.contact-col .submit-btn {
    text-align: center;
    padding-left: 0;
}
.contact-col .form-control::placeholder {
    color:#000;
}
.contact-col .form-control:-ms-input-placeholder{
    color:#000;
}
.contact-col .form-control::-ms-input-placeholder {
    color:#000;
}
.contact-col .form-control {
    border: 0;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0;
    width: 92%;
    box-sizing: border-box;
    padding-left: 0px;
    font-weight: 300;
    color: #000;
    font-size: 16px;
}
.form-group select {
    background: url("../images/down-arrow.svg") no-repeat right center;
    background-size: auto;
}

.form-group select:focus {
    outline: none;
}
.contact-col select {
    border: 0;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
    border-radius: 0; width: 92%;
    padding: 0 0 5px 0;
    -moz-appearance: none;
    -webkit-appearance:none;
    color: #000;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}
.contact-col textarea {  border: 1px solid #c5c5c5; border-radius: 0; width: 92%; box-sizing: border-box; padding-left: 6px;  font-weight: 300; }
.contact-col select option { padding-left: 0; }
.contact-col .form-control:focus { box-shadow: none; }
.row-margin { margin-top: 50px; font-size: 0; }
.pagination { float: none; margin-top: 0; }
.pagination li.page-item{
    cursor:pointer;
    padding: 5px 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:0;
    border: 1px solid #58a133;
    border-radius: 0!important;
    color: #58a133;
}
.page-item.active .page-link {
    background-color: #58a133;
    color: #fff;
    border: 1px solid #58a133;
}
.pop-up-footer .page-nav-btn {
    padding: 10px 21px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-left: 10px;
    margin-right: 10px;
}

.pop-up-footer .page-nav-btn a {
    color: #fff;
}

.pagination li.page-item.current {
    background-color: #58a133;
    color: #fff;
}

.contact-col form .row-margin legend {
    margin-bottom: 30px;
}
.next:hover { text-decoration: none; background-color: #fff; color: #e67e22; }
.logo-col button { display: none; }
.note { color: #000; font-size: 14px; font-weight: 300; line-height: 25px;}

.checkbox {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: left;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

.checkbox.full-width {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 2px solid rgb(88, 161, 51);;
    border-radius: 0;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: -1px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: none;
    /*outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;*/
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "\2713";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox input[type="checkbox"]:checked + label::before {
    background-color: #58a133;
    border-color: #58a133;
}

.checkbox input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.submit-btn .submit {
    font-size: 18px;
    color: #fff;
    background-color: #e67e22;
    padding: 10px 30px;
    line-height: 23px;
    margin: 0 auto;
    display: block;
    border-radius: 0;
}

.form-group .submit:hover {
    color: #e67e22;
    background-color: #fff;
    border: 1px solid #e67e22;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.modal .tabcontent {
    display: none;
}

.modal .tabcontent.current {
    display: block;
    clear: both;
}

.modal .tabcontent.current::-webkit-scrollbar {
    width: 5px;
    height:5px;
}

/* Track */
.modal .tabcontent.current::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(197, 197, 197, 0.63);
    border-radius: 10px;
}

/* Handle */
.modal .tabcontent.current::-webkit-scrollbar-thumb {
    background: rgba(197, 197, 197, 0.63);
    border-radius: 10px;
}

/* Handle on hover */
.modal .tabcontent.current::-webkit-scrollbar-thumb:hover {
    background-color: rgba(197, 197, 197, 0.63);
}

@media (max-width:800px){
    .contact-col form {
        width:85%;
    }
}

@media (max-width:767px){
    .modal-dialog {
        max-width: 100%;
        margin: 0;
    }

    #contact-us .modal-content {
        margin: 15px auto;
        width:94%;
    }

    .logo-col p {
        width: 100%;
        color: #fff;
    }

    #contact-us  .modal-header .close {
        position: fixed;
        top: 1px;
        right: 28px;
        float: none;
        width: 30px;
        height: 30px;
        font-size: 25px;
    }

    .pop-up-footer {
        margin: 20px 0;
        text-align: center;
    }

    .contact-col form legend {
        font-size: 18px;
    }

    .contact-col form {
        width: 95%;
    }

    .checkbox {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo-col {
        padding: 20px;
    }

    .contact-col .form-control {
        font-size: 14px;
    }

    .pagination li.page-item {
        padding: 2px 10px;
    }

    .pop-up-footer .page-nav-btn {
        padding: 7px 15px;
    }

    .submit-btn .submit {
        padding: 8px 20px;
    }
}
