* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	outline:0;
	border:0;
	font-family: 'Muli',Arial,sans-serif;
	max-width: 1366px;
	width:100%;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

html{
    font-size: 16px;
}

img{
    display: block;
    max-width: 100%;
    height: auto
}

*{
    -webkit-tap-highlight-color: transparent
}

a {
    text-decoration: none;
    outline: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

a:hover , a:focus {
    text-decoration: none;
}

button {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: normal;
}

h2{
    font-size:18px;
}

h1{
    font-size: 34px;
}

h3{
    font-size: 14px;
}
h4{
    font-size: 12px;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli.eot');
	src: url('../fonts/Muli.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Muli.woff2') format('woff2'),
	url('../fonts/Muli.woff') format('woff'),
	url('../fonts/Muli.ttf') format('truetype'),
	url('../fonts/Muli.svg#Muli') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-SemiBold.eot');
	src: url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Muli-SemiBold.woff2') format('woff2'),
	url('../fonts/Muli-SemiBold.woff') format('woff'),
	url('../fonts/Muli-SemiBold.ttf') format('truetype'),
	url('../fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Light.eot');
	src: url('../fonts/Muli-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Muli-Light.woff2') format('woff2'),
	url('../fonts/Muli-Light.woff') format('woff'),
	url('../fonts/Muli-Light.ttf') format('truetype'),
	url('../fonts/Muli-Light.svg#Muli-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

.top-navbar {
	background-color: #58a133;
	text-align: right;
}
.top-navbar > ul {
	list-style-type: none;
	margin: 0;
}
.top-navbar > ul > li {
	display: inline-block;
	padding: 0 10px;
	vertical-align: top;
}
.top-navbar > ul > li > a {
	color:#fff;
	text-decoration: none;
	font-size: 12px;
	line-height: 27px;
}

.top-navbar > ul > li > .btn {
	background-color: transparent;
	color: #fff;
	font-size: 12px;
	padding: 0;
	border: none;
	border-radius: 0;
	margin: 0;
	line-height: 12px;
}

.navbar.ivynav {
	padding: 0;
	background-color: #fff !important;
	max-width: 1350px;
	margin: 0 auto;
	box-shadow: 1.999px 0.07px 3.92px 0.08px rgba(0, 0, 0, 0.3);
}

.ivynav .navbar-nav  {
	width:100%;
}

.ivynav .navbar-brand {
	margin-right: 30px;
	margin-left: 35px;
}

.ivynav .navbar-brand span {
	display: inline-block;
}


.ivynav .navbar-nav .nav-link {
	padding-left: 1.35rem;
	padding-right: 1.35rem;
	font-size: 16px;
	font-weight:600;
	color:#000;
}

.ivynav .navbar-nav .nav-link:hover {
	opacity: 1;
	color:#000;
}

.ivynav .navbar-nav >  .nav-item {
	position: relative;
}
.ivynav .navbar-nav > .nav-item:hover:after, .ivynav .navbar-nav > .nav-item:focus:after, .ivynav .navbar-nav > .nav-item.active:after{
	content: '';
	position: absolute;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	right: 0;
	height: 4px;
	background-color: #58a133;
	bottom: 2px;
}

.ivynav .navbar-nav .nav-item:first-child.active {
	background-color: transparent;
}
.ivynav .navbar-nav .nav-item:first-child.active {
	background-color: transparent;
}

.ivynav .nav.navbar-nav > .nav-item:first-child a span{
	opacity: 0;
}

.ivynav .nav.navbar-nav > .nav-item:first-child a {
	background: url("../images/home-icon.png") no-repeat center center;
}

.ivynav .navbar-nav > .nav-item:after{
	opacity: 0;
	transform: translate(-50% , 0px);
	webkit-transform: translate(-50% , 0px);
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	position: absolute;
	content: '';
}

.ivynav .navbar-nav > .nav-item:hover:after,
.ivynav .navbar-nav > .nav-item:focus:after,
.ivynav .navbar-nav > .nav-item.active:after{
	opacity: 1;
	transform: translate(-50% , -5px);
	-webkit-transform: translate(-50% , -5px);
}

.ivynav .navbar-nav .nav-link img {
    margin:  0 auto;
}

.nav-item.admin-reports {
	background-color: #e67e22;
}

.hidden-item .nav-link{
	color: #fff !important;
}

.ivynav .navbar-nav .nav-item.admin-reports .nav-link {
	font-weight: 400;
	color:#fff;
}

.banner {
	position: relative;
}

.banner-content {
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.banner-content h1 {
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}
.banner-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
    line-height: 30px;
}

.banner-content button {
	background-color: #e67e22;
	border:1px solid #e67e22;
	color:#fff;
	font-size: 14px;
	padding: 10px 20px;
	cursor: pointer;
}

.banner-content button:hover {
	box-shadow: 0 0 5px 0 rgba(47, 36, 27, 0.45);
}

.banner-slider .slick-prev{
	left: 5%;
	z-index: 1;
    top:42%;
}

.banner-slider .slick-next {
    top:42%;
}
.banner-slider .slick-prev:before {
	border-width:2px 2px 0 0;
	border-color:#fff;
    font-size:0;
}
.banner-slider .slick-next {
	right:5%;
}

.banner-slider .slick-dots {
	bottom: 125px;
	right: 5%;
	text-align: right;
}

.banner-slider .slick-dots li {
	width: 10px;
	height: 10px;
	margin: 0 0px;
}
.banner-slider .slick-dots li button:before {
	opacity: 0.55;
}
.banner-slider .slick-dots li.slick-active button:before {
	color: #fff;
}

.banner-slider .slick-dots li button {
	padding: 0;
}

.main-banner {
	width: 100%;
	overflow: hidden;
	position: relative;
}

/*
.main-banner .banner-bottom-links{
	position: absolute;
}
*/

.banner-bottom-links {
	text-align: center;
	left:0;
	right:0;
	padding: 10px;
	position: relative;
	/*bottom: 5px;*/
	bottom: 4px;
}

.main-banner .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.banner-bottom-links:before {
	content: '';
	position: absolute;
	/*opacity: 0.6;*/
	opacity: 0.8;
	width: 100%;
	height: 120px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
}

.banner-bottom-links .banner-bottom-cta {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	background-color: #fff;
	padding: 12px 15px;
	position: relative;
	margin: 0 3px;
}

.banner-bottom-cta .bottom-cta-data , .banner-bottom-cta .bottom-cta-arrow {
	display: inline-block;
	vertical-align: middle;
    width: 235px;
}
.banner-bottom-cta .bottom-cta-data {
	padding-right: 15px;
}

.banner-bottom-cta .bottom-cta-data p {
	margin-bottom: 0;
}
.banner-bottom-cta .bottom-cta-data p:first-child {
    font-size:18px;
    font-weight:300;
    color:#000;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
}

.banner-bottom-cta .bottom-cta-data p:last-child {
    font-size: 24px;
    font-weight: 500;
    color: #58a133;
    line-height: 30px;
    text-transform: uppercase;
}
.banner-bottom-cta .bottom-cta-arrow {
	width:35px;
	height:75px;
	background-color: #e67e22;
	position: relative;
	cursor: pointer;
}

.banner-bottom-cta .bottom-cta-arrow:before{
	background: url(../images/sprite.png) no-repeat -9px -5px/300px;
	width: 16px;
	height: 16px;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.heading-with-double-line {
	text-align: center;
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	position: relative;
	padding-left: 57px;
	padding-right: 57px;
	color: #000;
	letter-spacing: 1.5px;
	font-size: 24px;
}
.heading-with-double-line:before{
	 content: '';
	width: 30px;
	height: 3px;
	 background:#58a133 ;
	 position: absolute;
	 left: 0;
	 top: 50%;
	 transform: translateY(-50%);
 }
.heading-with-double-line:after {
	content: '';
	width: 30px;
	height: 3px;
	background:#58a133 ;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.slick-slider .slick-arrow:before {
	content:'';
	position: absolute;
	opacity: 1;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 4px;
	font-size: 0;
}

.review-slider.slick-slider .slick-arrow:before{
    border: solid #bebebe;
    border-width: 0 2px 2px 0;
}

.slick-prev:before{
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
}
.slick-next:before{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.vertical-slider-block {
	width:100%;

}
.v-slider .slick-prev {
	position: absolute;
	top: -35px;
	left: 80px;
}
.v-slider .slick-next {
	position: relative;
	left: 80px;
	width: 30px;
	height: 20px;
	bottom: -20px;
	display: inline-block;
}

.v-slider .slick-prev:after{
	width:16px;
	height:12px;
	background: url("../images/sprite.png") no-repeat -73px -19px/300px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.separators {
	margin-top:75px;
	margin-bottom: 75px;
}

.vertical-slider-block {
	width: 72%;
	margin: 80px auto 0;
}

.vertical-slider-block .v-slider {
	margin-right: 30px;
	display: inline-block;
	width: 200px;
}

/*.vertical-slider-block .v-slider-data {
    display: inline-block;
    width: calc(100% - 249px);
    vertical-align: top;
}*/

.vertical-slider-block .v-slider-data h4 {
	margin-bottom: 30px;
	font-size: 22px;
	color: #000000;
    font-weight: 600;
}

.vertical-slider-block .v-slider-data ul {
	padding-left: 18px;
	list-style-type: none;
    min-height: auto;
    max-height: 115px;
    overflow: hidden;
}

.vertical-slider-block .v-slider-data ul li:before{
	content: '';
	position: absolute;
	left: -15px;
	width: 5px;
	top: 9px;
	height:5px;
	background-color: #58a133;
	border-radius: 50%;
}

.vertical-slider-block .v-slider-data ul li {
    position: relative;
    margin-bottom: 5px;
    font-size:18px;
    font-weight:300;
    color:#000;
    line-height: 19px;
}

.green-bg {
	background-color: #58a133;
	opacity: 1;
}

.highlighter {
	width:76%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}
.highlighter h2 {
	font-size: 54px;
	color:#fff;
	text-align: center;
}
.highlighter ul {
	margin-top: 40px;
	margin-bottom: 0;
	list-style-type: disc;
	padding-left: 0;
}

.highlighter li{
	font-size: 18px;
	color: #fff;
	display: inline-block;
	width: 30%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 30px;
	position: relative;
    font-weight: 300;
    padding-left: 20px;
}

.highlighter li:before {
	content:'';
	position: absolute;
	left: 0;
	width: 5px;
	top: 12px;
	height:5px;
	background-color: #fff;
	border-radius: 50%;

}
.v-slider-data.right {
	margin-right: auto;
	float: left;
}

.icon-text-block-wrapper {
	font-size: 0;
}

.no-heading-space {
	margin-top: 40px;
}

.icon-text-block {
    width: 25%;
    text-align: center;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
}

.icon-text-block .img-wrapper {
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
}



/*.icon-text-block .icon-content a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}*/

.icon-text-block .img-wrapper a:before {
    content: '';
    background-color: rgb(249, 248, 246);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s ease-out;
    width: 60px;
    height:60px;
}

.icon-text-block .img-wrapper a:hover:before{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.55);
}

.icon-text-block .img-wrapper img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.icon-text-block .icon-content a {
    font-size: 16px;
    color: #e67e22;
    text-decoration: underline;
}


.icon-text-block .icon-content h4 a{
    font-size: 18px;
    color: #000;
    margin-bottom: 12px;
    font-weight: 600;
    text-decoration: none;
    max-width: 100%;
	width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.icon-text-block .icon-content p {
    font-size: 14px;
    max-height: 50px;
    min-height: 50px;
    overflow: hidden;
	margin-bottom: 10px;
}

.brand-features {
	position: relative;
}

.brand-features .brand-content {
	padding-top:190px;
	display: none;
}

.pattern-bg {
	background: url("../images/pattern-bg.png") no-repeat;
	background-size: cover;
}

.brand-features ul {
	list-style-type: none;
	width: 70%;
	margin: 0 auto 0;
	padding: 80px 0;
	text-align: center;
}

.brand-features ul li {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 40px;
	padding-right: 50px;
	padding-left: 50px;
}

.brand-features .banner-bottom-links {
	top:4px;
	bottom: unset;
    position: absolute;
}

.brand-features .banner-bottom-links:before {
	background-color: #5b9f24;
}
.brand-features .brand-features-wrapper {
	padding-top: 3px;
}

.brand-features .brand-features-wrapper img {
	width:100%;
}
.brand-features h3 {
	color:#fff;
}

.review-slider {
	max-width: 750px;
	width: 52%;
	margin: 50px auto;
	text-align: center;
}

.review-slider p {
    width: 79%;
    margin: 20px auto 0;
}

.review-slider .slick-prev,.review-slider .slick-next {
    top: 25%;
}
.review-slider .slick-prev {
    left:0;
}

.review-slider .slick-next {
    right:0;
}

.review-slider .img-wrapper {
	text-align: center;
}
.review-slider  .img-wrapper p {
    margin: 5px;
    width: 100%;
}

.profile {
	width:80px;
	height:80px;
	border-radius: 50%;
	border:2px solid #58a133;
	overflow: hidden;
	margin: 0 auto 10px;
	display: none;
}

.review-slider .img-wrapper p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.review-slider .slick-dots {
	display: none !important;
}

.n-reviews:focus {
    outline: none;
}

.n-reviews p {
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 20px;
    font-weight: 300;
    color: #000;
    opacity: 1;
}

.n-reviews .img-wrapper p {
    font-size: 14px;
}

.n-reviews .img-wrapper p:first-of-type {
    font-size: 18px;
    font-weight: 700;
}

.newsletter-block {
	text-align: center;
}

.newsletter-block p {
	font-size:14px;
	color:#000;
	margin-bottom: 10px;
	margin-top: 80px;
}
.newsletter-block form .email-subs {
	width:330px;
	font-size:14px;
	color: #000;
	padding: 4px 15px;
    border: 1px solid #dbdbdb;
    height: 37px;
}

.newsletter-block form .email-subs:focus {
    box-shadow: 0 0 5px 0 rgba(230, 126, 34, 0.45);
    outline: none;
    border: 1px solid rgba(230, 126, 34, 0.48);
}

.newsletter-block form .email-subs::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dbdbdb;
    opacity: 1; /* Firefox */
}

.newsletter-block form .email-subs:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #dbdbdb;
}

.newsletter-block form .email-subs::-ms-input-placeholder { /* Microsoft Edge */
    color: #dbdbdb;
}

.newsletter-block form button {
	border:1px solid #e67e22;
	background-color: #e67e22;
	color:#fff;
	font-size:14px;
    padding: 0 15px;
    height: 37px;
    line-height: 37px;
}
.grey-bg {
	background-color: #676767;
}

footer .footer-wrapper{
	width:52%;
	margin: 0 auto;
	clear: both;
	padding: 20px 0;
}
footer .footer-col{
	width:20%;
	padding: 0 10px;
	float: left;
}

.footer-col ul {
	list-style-type: none;
	padding-left: 0;
}
.footer-col h4 a {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 14px;
	color:#fff;
	text-decoration: none;
	font-weight: 300;
}

.footer-icon {
	text-align: center;
	background-color: #fff;
	padding: 10px;
}
.footer-icon a img {
    margin: 0 auto;
}
.last-footer-links {
	background-color: #676767;
}
.last-footer-links ul {
	list-style-type: none;
	text-align: center;
	margin-bottom: 0;
}
.last-footer-links ul li{
	display: inline-block;
	vertical-align: middle;
	padding: 10px 15px;

}
.last-footer-links ul li a {
	font-size:12px;
	color:#fff;
}

.last-footer-links ul li a:hover {
	text-decoration: underline;
}

.last-footer-links li {
	position: relative;
}

.last-footer-links li:last-child:after {
	display: none;
}

.last-footer-links li:after {
	position: absolute;
	content: '';
	right: 0;
	height: 15px;
	top: 18px;
	width: 1px;
	background-color: #fff;
}

.footer-col ul li a:hover {
	color: #ff8112;
}

.social-icons {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-icons ul li {
    display: inline-block;
    vertical-align: middle;
}


#contact-us .tabs-left > .nav-tabs {
	border-bottom: 0;
}

#contact-us .tab-content > .tab-pane,
#contact-us .pill-content > .pill-pane {
	display: none;
}

#contact-us .tab-content > .active,
#contact-us .pill-content > .active {
	display: block;
}

#contact-us .tabs-left > .nav-tabs > li {
	float: none;
	display: block;
	width:100%;
}

#contact-us .tabs-left > .nav-tabs > li > a {
	min-width: 74px;
	margin-right: 0;
	margin-bottom: 3px;
}

#contact-us .tabs-left > .nav-tabs {
	float: left;
	margin-right: 19px;
	border-right: 1px solid #ddd;
	background: url("../images/contact-us-bg.png") no-repeat center center;
	background-size: contain;
}

#contact-us .tabs-left > .nav-tabs:before {
	content:'';
	position: absolute;
	left:0;
	right:0;
	background-color: rgba(88, 161, 51, 0.5);
}

#contact-us .tabs-left > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	color:grey;
}

#contact-us .tabs-left > .nav-tabs > li > a:hover,
#contact-us .tabs-left > .nav-tabs > li > a:focus {
	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

#contact-us .tabs-left > .nav-tabs .active > a,
#contact-us .tabs-left > .nav-tabs .active > a:hover,
#contact-us .tabs-left > .nav-tabs .active > a:focus {
	border-color: #ddd transparent #ddd #ddd;
	*border-right-color: #ffffff;
}

#contact-us .tabbable {
	display: flex;
}

#contact-us nav.nav-tabs {
	flex: 0 0 45%;
}

#contact-us .tab-content {
	flex:1;
}

.read-more-block {
	margin-bottom: 12px;
}

.read-more-block .img-wrapper {
	margin-right: 25px;
	display: inline-block;
	width: 200px;
    height: 135px;
}

.read-more-block .img-wrapper img{
    height: 100%;
}

.read-more-block .content-wrapper {
	display: inline-block;
	width: calc(100% - 235px);
	vertical-align: top;
}

.read-more-block .content-wrapper a {
	color: #e67e22;
	font-size: 16px;
	text-decoration: underline;
	font-weight: 400;
    padding-left: 20px;
}

.read-more-block .content-wrapper a .right-arrow {
	transition: all 0.6s;
}

.read-more-block .content-wrapper a:hover .right-arrow {
	transform: rotate(-45deg) translateX(8px) translateY(8px);
	-webkit-transform: rotate(-45deg) translateX(8px) translateY(8px);
}

.right-arrow {
	border: solid #5b9f24;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

p {
	font-size: 14px;
	font-weight: 300;
	color:#000;
	line-height: 16px;
}


@media (min-width:992px){
	.ivynav .nav-justified .nav-item {
		display: flex;
		align-items: center;
	}
	.ivynav .navbar-nav .nav-link {
		flex:1;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.ivynav .navbar-nav {
		height:85px;
	}

	.ivynav .nav-justified .nav-item {
		position: relative;
		font-size: 16px;
		color: #e67e22;
	}

	.ivynav .nav-justified .nav-item.dropdown .menu{
		display: none;
	}

	.ivynav .nav-justified .nav-item.dropdown:hover .menu{
		background-color: rgba(105, 107, 111, 0.90);
		top: 113px;
		z-index: 1;
		display: flex;
		right: 0;
		left: 0;
		position: fixed;
		width: 100% !important;
		padding: 29px;
		height: 80px;
	}

	.ivynav.submenu-top .nav-justified .nav-item.dropdown:hover .menu {
		top:85px;
	}

	.ivynav .nav-justified .nav-item {
		margin: 0;
		display: flex;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item {
		flex: 0 0 auto;
		display: block;
	}
	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item:first-child {
		margin-left: auto;
	}
	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item:last-child {
		margin-right: auto;
		background-color: transparent;
	}
	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item a {
		padding: 0 30px;
		color: #fff;
		line-height: 20px;
		font-size: 16px;
		font-weight: 600;
	}
	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item a:after {
		content:'';
		position: absolute;
		height: 20px;
		width:1px;
		background-color: #fff;
		right:0;
	}

	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item:last-child a:after {
		display: none;
	}

	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item:after {
		display: none;
	}

	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item:before {
		content: "";
		position: absolute;
		z-index: -2;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		width: 0;
		bottom: -12px;
		background: #e67e22;
		height: 3px;
		-webkit-transition-property: width;
		transition-property: width;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item:hover {
		opacity: 1 !important;
	}
	.ivynav .nav-justified .nav-item.dropdown ul.menu .nav-item:hover:before {
		width:65%;
	}

	.ivynav .nav-justified .nav-item.dropdown ul.menu li li:before {
		bottom: 10%;
	}
	.ivynav .navbar-nav {
		height:85px;
	}

	.ivynav .navbar-nav .nav-item.admin-reports .nav-link {
		padding: 0 18px;
	}

	.ivynav .nav-justified .nav-item:last-child .nav-link{
		color: #e67e22;
	}

	.main-banner .slick-slide .banner {
		height:435px;
        width: 100%;
	}

    .main-banner .slick-slide .banner img {
        width:100%;
        height: 100%;
    }
}
@media (min-width:768px){
	/*#contact-us .modal-content {
		min-height: 700px;
		max-height:700px;
		overflow: hidden;
	}*/

	/*#contact-us .container {
		min-height: 600px;
		max-height:600px;
		overflow: hidden;
	}*/

	.top-navbar > ul {
		height: 22px;
	}

	.top-navbar > ul li {
		margin-top: -5px;
		padding: 0 48px;
	}

	.modal-open .modal {
		overflow: hidden;
	}

	.logo-col {
		max-height: 600px;
		overflow: hidden;
	}

	.contact-col {
		max-height: 600px;
		min-height: 600px;
		height: 100%;
	}

	.modal .tabcontent.current {
		overflow-y: auto;
		min-height: auto;
		max-height: 410px;
	}

	.pop-up-footer {
		padding-top: 25px;
		position: fixed;
		bottom: 20px;
		left: 54%;
		width: auto;
	}
}

@media (max-width: 1299px) {
	.ivynav .navbar-nav .nav-link {
		padding-left: 0.8rem;
		padding-right: 0.8rem;
	}
}

@media (max-width: 1199px) {
	.ivynav .navbar-nav .nav-link {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
	.ivynav .nav-justified .nav-item {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media (max-width:991px){
	.ivynav .navbar-nav .nav-link span {
		margin-bottom: 5px;
		display: block;
	}

	.banner-content h1 {
		font-size:32px;
	}

	.banner-content p {
		font-size:15px;
		margin-bottom: 20px;
	}

	.banner-slider .slick-prev {
		left:3%;
		top:40%;
	}

	.banner-slider .slick-next {
		right:3%;
		top:40%;
	}
	.banner-bottom-cta .bottom-cta-arrow {
		height:60px;
	}

	.banner-bottom-cta .bottom-cta-data p:first-child {
		font-size: 16px;
	}

	.banner-bottom-cta .bottom-cta-data p:last-child {
		font-size:20px;
	}

	.banner-bottom-links:before {
		height:106px;
	}
	.heading-with-double-line , .block-views-block-team-members-block-1 h2{
		font-size:22px;
	}

	.vertical-slider-block {
		margin-top: 50px;
		width: 100%;
	}

	.left-right-v-block .read-more-block:nth-child(even) .img-wrapper{
		margin-left: 30px;
		margin-right: 0;
	}

	.vertical-slider-block .v-slider-data {
		width:60%;
	}
	.vertical-slider-block .v-slider-data h3 {
		font-size: 18px;
		margin: 0 20px 20px 0;
	}

	.vertical-slider-block .v-slider-data ul li {
		font-size: 14px;
	}

	.v-slider .slick-prev {
		left:45%;
	}
	.vertical-slider-block .v-slider.right{
		float: right;
	}

	.read-more-block .content-wrapper a {
		margin-left: 0;
	}

	.v-slider .slick-next {
		left: 42%;
		bottom: -30px;
		width: auto;
		height: auto;
	}
	.highlighter {
		width:90%;
	}

	.highlighter h2 {
		font-size:44px;
	}

	.highlighter li {
		width:28%;
		font-size:14px;
	}

	.icon-text-block {
		width: 50%;
		vertical-align: top;
		margin-bottom: 30px;
	}

	.banner-bottom-cta .bottom-cta-data p:first-child {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 175px;
	}

	.brand-features ul {
		width:90%;
	}

	.review-slider {
		width:60%;
	}

	.n-reviews p {
		font-size:16px;
	}

	footer .footer-list-block {
		width:90%;
	}

	footer .footer-list-block .nav .link-list > .nav-item {
		text-align: center;
	}

	footer .footer-list-block .nav .link-list > .nav-item:first-child > a:after {
		right:-10px;
	}
	.region-navigation {
		display: inline-block;
		width:100%;
	}

	.navbar.ivynav {
		position: static;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.ivynav #block-ivyopp-account-menu {
		top: 49px;
		position: absolute;
		right: 10%;
	}

	.ivynav #block-ivyopp-account-menu .nav-link {
		font-size: 18px;
		color: #e67e22;
		font-weight: 600;
		text-transform: capitalize;
	}

	.logo.navbar-btn {
		vertical-align: top;
		width: calc(100% - 65px);
		float: none;
		display: inline-block;
	}

	.navbar-toggler {
		width: 56px;
		display: inline-block;
		vertical-align: top;
	}
	.logo.navbar-btn {
		vertical-align: top;
		width: calc(100% - 60px);
		float: none;
		display: inline-block;
	}

	.ivynav .navbar-nav > .nav-item {
		border-top: 1px solid rgba(88, 161, 51, 0.1);
	}
	.ivynav .navbar-nav > .nav-item:first-child { border: none; }

	.ivynav .navbar-nav {
		margin-top: 30px;
	}

	#block-ivyopp-account-menu {
		display: none !important;
	}

	.review-slider .slick-arrow.slick-next {
		display: none;
	}

	.navbar-toggler {
		width:55px;
		border:none;
		margin-right: 15px;
	}

	.navbar-toggler:focus {
		outline: none;
	}

	.separators {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.modal#contact-us .container{
		padding-left: 15px;
		padding-right: 15px;
		max-width: 100%;
	}
}

@media (max-width:768px){

	.hidden-item {
		display: none;
	}
	.ivynav .navbar-nav > .nav-item a{
		display: inline-block;
	}

	.ivynav .navbar-nav > .nav-item:after {
		display: none;
	}

	.ivynav .navbar-nav > .nav-item.dropdown {
		position: relative;
	}
	.ivynav .navbar-nav > .nav-item.dropdown:before {
		content: '';
		position: absolute;
		border: solid #e67e22;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		font-size: 0;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		right: 15px;
		top: 18px;
		bottom: 0;
		margin-left: auto;
		width: 5px;
		height:5px;
		transition: all 0.3s;
		-webkit-transition: all 0.6s;
	}

	.ivynav .navbar-nav > .nav-item.dropdown.nav-slide:before {
		transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
	}

	.ivynav .navbar-nav > .nav-item.dropdown .menu .nav-item .nav-link {
		color:#e67e22;
		font-size: 14px;
	}

	.ivynav .navbar-nav > .nav-item.dropdown .menu .nav-item .nav-link:before {
		display: none;
	}

	.ivynav .navbar-nav {
		margin-top: 0;
	}

	.ivynav .navbar-nav .nav-item.dropdown .menu {
		display: none;
	}

	.ivynav .navbar-nav > .nav-item.dropdown a:hover, .ivynav .navbar-nav > .nav-item.dropdown a:focus {
		color: #e67e22;;
	}

	.ivynav .navbar-nav > .nav-item:hover:after,
	.ivynav .navbar-nav > .nav-item:focus:after,
	.ivynav .navbar-nav > .nav-item.active:after {
		width: 4px;
		height: 85%;
		left: 0px;
		/* transition: all 0.6s;
         -webkit-transition: all 0.6s;*/
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
		opacity: 1;
	}

	.ivynav .navbar-nav > .nav-item:last-child .nav-link {
		color:#e67e22;
	}
	.navbar.ivynav {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.vertical-slider-block.right .read-more-block .img-wrapper {
		margin-right: 0;
		margin-left: 25px;
	}
}

@media (max-width:800px) and (min-width:768px) {
	.read-more-block {
		margin-left: auto;
		margin-right: auto;
		width: 87%;
	}

	footer .footer-wrapper {
		width:93%;
	}
}

@media (max-width:767px){
	.heading-with-double-line {
		font-size: 18px;
		line-height: 18px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.heading-with-double-line:before ,
	.heading-with-double-line:after ,
	.block-views-block-team-members-block-1 h2:after,
	.block-views-block-team-members-block-1 h2:before{
		top:9px;
		transform: unset;
	}

	.banner-content {
		left: 50%;
		top: 50%;
		transform: translate(-50% , -50%);
		-webkit-transform: translate(-50% , -50%);
		-ms-transform: translate(-50% , -50%);
		text-align: center;
		width: 100%;
	}
	.banner-content h1 {
		font-size:26px;
	}
	.banner-content button {
		font-size: 12px;
		padding: 6px 12px;
		line-height: 15px;
	}

	.main-banner .banner-bottom-links {
		position: relative;
	}
	.banner-bottom-links {
		position: relative;
	}

	.banner-bottom-links .banner-bottom-cta {
		margin-bottom: 10px;
	}

	.banner-bottom-cta .bottom-cta-data p:first-child {
		font-size:14px;
	}
	.banner-bottom-cta .bottom-cta-data p:last-child {
		font-size: 16px;
	}

	.banner-bottom-cta .bottom-cta-data p:first-child {
		max-width:225px;
	}

	.banner-bottom-cta .bottom-cta-arrow {
		height: 50px;
	}

	.banner-bottom-links .banner-bottom-cta:last-child{
		margin-bottom: 0;
	}
	.vertical-slider-block .v-slider.right {
		clear: both;
	}

	.banner-bottom-links:before {
		height: 100%;
	}

	.separators {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.vertical-slider-block, .view-student-corner {
		width: 100%;
		margin: 50px auto 0;
	}

	.vertical-slider-block .v-slider {
		width:100%;
		float: none;
		margin-bottom: 30px;
	}

	.vertical-slider-block .v-slider li img {
		margin: 0 auto;
	}

	.vertical-slider-block .v-slider-data {
		width:100%;
		margin: 0;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 25px;
	}

	.vertical-slider-block .v-slider-data ul {
		max-width: 100%;
		min-width: 100%;
	}

	.vertical-slider-block.right .read-more-block .img-wrapper {
		width:100%;
		margin: 0;
		height: auto;
	}

	.read-more-block .img-wrapper img {
		margin: 0 auto;
		height: auto;
	}

	.icon-text-block {
		width:100%;
	}

	.highlighter h2 {
		font-size:30px;
	}

	.highlighter li {
		width:100%;
		display: block;
	}

	.brand-features {
		padding-top: 0;
	}

	.brand-features .banner-bottom-links {
		position: relative;
	}

	.banner-bottom-links .banner-bottom-cta {
		width:auto;
		vertical-align: top;
	}

	.brand-features .banner-bottom-links {
		margin-bottom: 40px;
	}

	.v-slider .slick-arrow {
		display: none !important;
	}

	.brand-features ul li {
		display: block;
		padding: 0 0 40px;
	}

	.brand-features ul li img {
		margin: 0 auto;
	}

	.newsletter-block form .email-subs {
		width:90%;
		margin-bottom: 30px;
	}

	.review-slider {
		width: 90%;
		margin: 30px auto;
		max-width: 600px;
	}

	footer .footer-list-block .nav .link-list {
		flex: unset;
		width: 50%;
		margin-bottom: 20px;
	}

	footer .footer-list-block .nav .link-list:nth-of-type(2n) > .nav-item:first-child > a:after {
		display: none;
	}

	.footer-col h4 a {
		font-size: 13px;
	}

	.slick-dotted.slick-slider {
		margin-bottom: 25px;
	}

	.banner-slider .slick-dots {
		bottom: 10px;
		right:0;
		text-align: center;
	}

	.banner-slider .slick-dots li button:before {
		font-size: 22px;
	}


	.banner-slider.slick-dotted.slick-slider {
		margin-bottom: -5px;
	}

	.banner-bottom-links {
		bottom: 0;
	}
	.brand-features ul li {
		width:80%;
		margin-left: auto;
		margin-right: auto;
	}

	/*** mobile accordion of footer ***/

	.footer-col {
		width: 100% !important;
		margin: 0;
		min-height: auto;
	}

	.footer-wrapper .footer-col h4 {
		cursor: pointer;
		line-height: 45px;
		border-bottom: 1px solid #ccc;
		font-weight: 500;
		margin-bottom: 0;
	}
	.footer-wrapper .footer-col:last-child h4 {
		border-bottom: none;
	}

	.footer-wrapper ul {
		display: none;
		padding-top: 0;
	}

	.footer-wrapper ul li a {
		font-size: 14px !important;
		line-height: 30px !important;
	}
	.footer-wrapper .footer-col h4:after {
		content: "+";
		float: right;
		font-size: 18px;
		transform: rotate(0deg) scale(1.08);
		transition: all 0.5s ease-in !important;
		-webkit-transform: rotate(0deg) scale(1.08);
		-webkit-transition: all 0.5s ease-in !important;
		-moz-transform: rotate(0deg) scale(1.08);
		-moz-transition: all 0.5s ease-in !important;
		-ms-transform: rotate(0deg) scale(1.08);
		-ms-transition: all 0.5s ease-in !important;
		color:#fff;
	}
	.footer-wrapper .footer-col.open h4:after {
		content: "-";
		transform: rotate(180deg) scale(1.08);
		transition: all 0.5s ease-in !important;
		-webkit-transform: rotate(180deg) scale(1.08);
		-webkit-transition: all 0.5s ease-in !important;
		-moz-transform: rotate(180deg) scale(1.08);
		-moz-transition: all 0.5s ease-in !important;
		-ms-transform: rotate(180deg) scale(1.08);
		-ms-transition: all 0.5s ease-in !important;
		color:#fff;
		font-size: 20px;
	}
	.footer-wrapper .footer-col.open ul {
		border-bottom: 1px solid #ccc;
		margin-bottom: 0;
		padding-bottom: 10px;
	}

	footer .footer-wrapper {
		width:100%;
	}
}

