.faq-wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
}
.faq-accordion-container {
    flex:1;
}

.accordion_head {
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.accordion_body {
    padding-bottom: 25px;
}


.accordion_body p {
    font-size: 14px;
}

.plusminus {
    float: left;
    background-color: #e67e22;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 18px;
    text-align: center;
    font-size: 25px;
    margin-right: 15px;
}

.minus {
    background-color: #000;
}

.vertical-img-block.grid-img-text {
    width:25%;
}
.vertical-img-block.grid-img-text .image-desc-block img{
    width:100%;
}

.vertical-img-block.grid-img-text .image-desc-block {
    width:100%;
    margin-top: 0;
    margin-bottom: 40px;
}

.expand-collapse {
    display: block;
    margin-bottom: 30px;
}


.expand-collapse .plusminus {
    width: 20px;
    height: 20px;
    line-height: 13px;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
