.banner-bottom-links.featured-cta {
    position: relative;
}

.banner-bottom-links.featured-cta:before {
    background-color: #58a133;
    opacity: 1;
}

.featured-cta .banner-bottom-cta .bottom-cta-data {
    min-width: 180px;
}

.left-right-v-block .v-slider-data p{
    font-size: 18px;
    color:#000;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 15px;
}

.read-more {
    font-size: 16px;
    color: #e67e22;
    text-decoration: underline;
}
.left-right-v-block .read-more-block {
    margin-bottom: 50px;
}

.normal-highlights .heading-with-double-line:before , .normal-highlights .heading-with-double-line:after {
    background: #fff;
}

.normal-highlights .heading-with-double-line {
    margin-bottom: 60px;
}

.normal-highlights p {
    color: #fff;
    font-size: 18px;
    line-height: 23px;
    font-weight: 300;
    width: 70%;
    text-align: justify;
    margin: 0 auto;
}

.normal-highlights {
    padding: 80px 0;
}

