.team-slider-wrapper {
    max-width: 1000px;
    margin:  0 auto;
}

.team-slider-wrapper .n-teams {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.team-slider-wrapper .n-teams img {
    margin:0 auto;
}
.team-slider-wrapper .n-teams .team-detail {
    padding-left: 15px;
    padding-right: 15px;
    width: 85%;
    margin: 15px auto 0;
}

.team-slider-wrapper .n-teams .team-detail p:first-child {
    margin-bottom: 0;
    color: #58a133;
    font-size: 18px;
    font-weight: 600;
}

.team-slider-wrapper .n-teams .team-detail p {
    font-size: 14px;
    font-weight: 300;
    color:#000;
}

.team-slider-wrapper .n-teams .team-detail p a {
    font-size:16px;
    color: #e67e22;
    font-weight: 600;
    margin-top: 25px;
    display: block;
}

.team-slider-wrapper .slick-arrow {
    top:20%;
    transform: none;
}
.team-slider-wrapper .slick-arrow:before {
    content:'';
    position: absolute;
    opacity: 1;
    border: solid #b2b2b2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}

.n-teams .team-detail p:last-child, .n-teams .team-detail p:nth-last-child(2) {
    display: none;
}

.n-teams.slick-center .team-detail p:last-child, .n-teams.slick-center .team-detail p:nth-last-child(2){
    display: block;
}
.team-slider-wrapper .slick-prev:before{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.team-slider-wrapper .slick-next:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

button.btn-basic {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 50px;
}

.common-para {
    width: 55%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
    color:#000;
}

.text-over-background-block .content.listing {
    width:80%;
    text-align: left;
}

.text-over-background-block .content.listing ul{
    display: flex;
    flex-wrap: wrap;
}

.text-over-background-block .content.listing li {
    flex: 0 0 50%;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding-right: 6%;
    margin-bottom: 30px;
}

.inlisting .image-desc-block .content-wrapper {
    padding-top: 10px;
    padding-left: 0;
    list-style-type: none;
}

.inlisting .image-desc-block .content-wrapper li {
    position: relative;
}

.inlisting .image-desc-block .content-wrapper li:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #58a133;
    border-radius: 50%;
    left: -20px;
    top: 9px;
}


.accordion-wrapper {
    max-width: 1008px;
    margin: 10px auto;
}
.accordion-wrapper .card-header a {
    text-decoration: none;
}

.accordion-wrapper .card {
    border-radius: 0;
    margin-bottom: 5px;
    border:none;
}

.accordion-wrapper .card-header {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 0;
}

.accordion-wrapper .card-body {
    border: 1px solid #d9d9d9;
    background-color: #f5f5f5;
}

.accordion-wrapper .card-body h3 {
    font-size:22px;
    color:#000;
}

.accordion-wrapper .card-body p {
    color:#000;
}

.accordion-wrapper .card-header h5 {
    font-size:24px;
    color:#000;
    font-weight: 500;
    position: relative;
}

.accordion-wrapper .card-header a.collapsed .rotate-icon{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 0.9s;
}

.angle-up {
    border: solid #5b9f24;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.9s;
}

.middle-align.image {
   margin-left: 40px;
}

.middle-align.content {
    width: 56%;
}

.middle-align {
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 991px) {
    .team-slider-wrapper .n-teams {
        margin-left: 20px;
        margin-right: 20px;
    }

    .team-slider-wrapper .n-teams .team-detail {
        width: 100%;
    }
}
