.breadcrumb-wrapper {
}
.breadcrumb-wrapper .breadcrumb {
    list-style-type: none;
    padding:35px 50px 30px;
    background-color:  transparent;
}

.breadcrumb-wrapper .breadcrumb li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 15px;
    padding-right: 15px;
}

.breadcrumb-wrapper .breadcrumb li a {
    font-size: 13px;
    font-weight: 600;
    color:#000;
}
.breadcrumb-wrapper .breadcrumb li:last-child a {
    color: #58a133;
}

.breadcrumb-wrapper .breadcrumb li:after {
    position: absolute;
    content: '';
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 0;
    top: 10px;

}

.breadcrumb-wrapper .breadcrumb li:last-child:after {
    display: none;
}

.text-above-video .heading-with-double-line {
    margin-bottom: 45px;
}

.text-above-video p {
    font-size:14px;
    color:#000;
    width:55%;
    margin: 0 auto 55px;
    font-weight: 300;
    text-align: center;
}

/* this section is dublicate */
.text-over-background-block{
    position: relative;
}
.text-over-background-block img {
    width: 100%;
}

.text-over-background-block .content {
    text-align: center;
    padding: 70px;
    width:60%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.text-over-background-block .content h4 {
    font-size: 14px;
    color: #fff;
    line-height: 17px;
}

.video-wrapper {
    text-align: center;
    position: relative;
}

.video-wrapper img {
    margin: 0 auto;
}

.video-wrapper .play-video {
    width: 45px;
    height: 45px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
    margin: 0;
}

.video-wrapper .play-video:after {
    position: absolute;
    content: '';
    right: 0;
    margin: auto;
    width: 0;
    top: 0;
    bottom: 0;
    left: 6px;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #050301;
    border-radius: 4px;

}

/******************/

/*p {
    font-size:14px;
    color:#000;
    width:55%;
    margin: 0 auto;
    font-weight: 300;
}*/

.text-over-background-block .content .heading-with-double-line {
    margin-bottom: 60px;
    color:#fff;
}

.text-over-background-block .content p {
    font-size: 14px;
    color:#fff;
    text-align: center;
    width: 100%;
    line-height: 16px;
    font-weight: 300;
}
.grid-img-text {
    display: flex;
    flex-wrap: wrap;
    width:72%;
    margin:0 auto;
}

.image-desc-block {
    width:33.33%;
    padding-left: 17px;
    padding-right: 17px;
    margin-top:60px;
}

.image-desc-block .content-wrapper {
    padding-top: 20px;
}

.image-desc-block .content-wrapper h5 {
    color: #58a133;
    font-size:14px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 16px;
    text-transform: capitalize;
}

.image-desc-block .content-wrapper p {
    font-size:14px;
    font-weight: 300;
    color:#000;
    line-height: 16px;
}

/*green box workshop block*/

.workshop-text-icon {
    display: flex;
    align-items: center;
    background-color: #efefef;
    margin-bottom: 20px;
}

.workshop-text-icon .green-box {
    flex: 0 0 18%;
    background-color: #58a133;
    color: #fff;
    height: 165px;
    position: relative;
}

.workshop-text-icon .green-box img {
    display: block;
    margin: auto;
    top: 0;
    bottom: 25px;
    right: 0;
    left: 0;
    position: absolute;
}

.workshop-text-icon .green-box p {
    color: #fff !important;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    bottom: 0;
    position: relative;
    top: 70%;
}

.workshop-text-icon .green-box-text {
    flex:1;
    background-color: #efefef;
    padding: 25px;
}

.workshop-text-icon .green-box-text p {
    color: #000;
}



/**** end ****/

@media (max-width: 991px) and (min-width: 768px){
    .text-over-background-block .content{
        width: 100%;
    }

    .text-over-background-block img {
        min-height: 300px;
    }

    .text-over-background-block .content .heading-with-double-line {
        margin-bottom: 45px;
    }

    .grid-img-text {
        width:85%;
    }

    .image-desc-block {
        width:50%;
    }
}

@media (max-width: 767px){
    .grid-img-text {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }

    .image-desc-block {
        width:100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .breadcrumb-wrapper .breadcrumb {
        padding: 15px 15px 15px;
    }

    .heading-with-double-line {
        font-size:18px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .text-above-video p {
        width: auto;
        margin: 0 15px 55px;
    }
    .text-over-background-block .content {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 15px;
    }

    .text-over-background-block .content .heading-with-double-line {
        margin-bottom: 30px;
        color:#000;
    }


    .text-over-background-block .content p {
        color:#000;
    }
    .separators {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .image-desc-block img {
        margin: 0 auto;
        display: block;
    }
}

