.io-categories {
    display: -webkit-flex; /* Safari */
    display: flex;
    max-width: 1000px;
    width:100%;
    margin: 0 auto;
}

.io-categories .io-subcategory {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    padding: 15px;
    color: #fff;
    text-align: center;
    margin:10px 15px;
}

.io-categories .io-subcategory.cat-one {
    background-image: -moz-linear-gradient( -35deg, rgb(96,216,141) 1%, rgb(11,132,122) 100%);
    background-image: -webkit-linear-gradient( -35deg, rgb(96,216,141) 1%, rgb(11,132,122) 100%);
    background-image: -ms-linear-gradient( -35deg, rgb(96,216,141) 1%, rgb(11,132,122) 100%);
}

.io-categories .io-subcategory.cat-two {
    background-image: -moz-linear-gradient( -35deg, rgb(116,185,255) 1%, rgb(3,42,106) 100%);
    background-image: -webkit-linear-gradient( -35deg, rgb(116,185,255) 1%, rgb(3,42,106) 100%);
    background-image: -ms-linear-gradient( -35deg, rgb(116,185,255) 1%, rgb(3,42,106) 100%);
}

.io-categories .io-subcategory ul li {
    text-align: justify;
    padding-left: 25px;
    position: relative;
}

.io-categories .io-subcategory ul li:before {
    position: absolute;
    content: '';
    width: 20px;
    left: -5px;
    top: 5px;
    height: 20px;
    background: url(../images/check-icon.png) no-repeat;
}

@media (max-width:768px){

}

