@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700');
/*.menu-item--expanded {
  .menu {
    display: none;
  }
}*/

.ivynav {
  @include mquery(tablet){
    padding-top: 12px;
    padding-bottom: 12px;
  }
  > div {
    width:100%;
  }
  @media (min-width: 992px){
    padding: 0 !important;
    .logo {
      float: none;
      display: inline-block;
      vertical-align: middle;
    }

    #block-ivyopp-main-menu {
      width: calc(100% - 500px);
      display: inline-block !important;
      vertical-align: middle;
      margin-left: 50px;
    }

    #block-ivyopp-account-menu {
      width: calc(100% - 300px);
      display: inline-block !important;
      vertical-align: middle;
      margin-left: 50px;
      .nav-item {
        a {
          color: $orange-color;
          font-size: 16px;
          font-weight: 700;
          &:hover {
            color: $green-color;
          }
        }
      }
    }
  }
  .nav-item {
    position: relative;
    &.dropdown {
      .menu {
        display: none;
      }
      &:hover {
        .menu {
          @media (min-width: 992px){
            background-color: rgba(105, 107, 111, 0.90);
            top: 113px;
            z-index: 1;
            display: flex;
            right: 0;
            left: 0;
            position: fixed;
            width: 100% !important;
            padding: 30px;
          }
        }
      }
    }
  }

/*  .navbar-collapse {
    @include mquery(tablet){
      margin-top: 20px;
    }
  }*/

  #block-ivyopp-account-menu {
    @include mquery(tablet){
      display: inline-block;
      float: right;
      position: absolute;
      top: 48px;
      right: 70px;
    }

    .nav {
      .nav-item {
        font-size: 16px;
        color: #e67e22;
      }
    }
  }

  .navbar-toggler {
    @include mquery(tablet){
      float: right;
      top: 7px;
      position: relative;
    }
  }
}
.user-logged-in {
  .ivynav #block-ivyopp-main-menu {
    width: calc(100% - 568px);
  }
}
@media (max-width: 1299px){
  .ivynav #block-ivyopp-main-menu {
    width: calc(100% - 460px);
    margin-left: 15px;
  }
  .user-logged-in {
    .ivynav #block-ivyopp-main-menu {
      width: calc(100% - 538px);
      margin-left: 20px;
    }
  }
}

@media (min-width: 992px){
  .toolbar-horizontal {
    .ivynav .nav-item.dropdown:hover .menu {
      top: 150px;
    }
    &.toolbar-tray-open {
      .ivynav .nav-item.dropdown:hover .menu {
        top: 194px;
      }
    }
  }
}

.region-navigation {
  > div {
    display: inline-block;
    vertical-align: top;
  }
}

.views-blockheader-user-details-block-1 {
  .row {
    margin: 0;
    > div { display: flex; }
  }
}

.welcome-user {
  display: inline-block;
  width: 134px;
  vertical-align: top;
  background-color: #e67e22;
  color: #fff;
  padding: 15px 10px;
  height: 85px;
  span { font-size: 12px; }
  a { color: #fff; }
  &.anonymous-user {
    width: 115px;
    padding: 15px 10px;
    a {
      width: 95px;
      padding-left: 1.35rem;
      padding-right: 1.35rem;
      display: block;
      text-align: center;
    }
  }
}

.welcome-detail {
  display: inline-block;
  width: 155px;
  vertical-align: top;
  padding: 22px 20px;
  .user-detail { cursor: pointer; }
  img.image-style-thumbnail {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
  }
  ul {
    display: none;
    position: absolute;
    width: 150px;
    z-index: 999;
    background: #fff;
    border: 1px solid;
    margin-top: 5px;
    a {
      color: #000;
      padding: 5px 10px;
      display: block;
    }
  }
  .arrow {
    display: inline-block;
    margin-left: 5px;
  }
  &.anonymous-user-detail {
    width: 100px;
    padding: 30px 10px;
    .login-link {
      width: 85px;
      padding-left: 1.35rem;
      padding-right: 1.35rem;
      display: block;
      text-align: center;
      a { color: #e67e22; font-weight: 600; }
    }
  }
}
@media (max-width: 1199px){
  .welcome-user {
    width: 106px;
    padding: 15px 5px;
    &.anonymous-user {
      width: 100px;
      padding: 15px 5px;
    }
  }
  .welcome-detail {
    padding: 22px 5px;
    &.anonymous-user-detail {
      width: 90px;
      padding: 30px 5px;
    }
  }
  .ivynav #block-ivyopp-main-menu {
    width: calc(100% - 420px);
    margin-left: 0px;
  }
  .user-logged-in {
    .ivynav #block-ivyopp-main-menu {
      width: calc(100% - 486px);
    }
    .welcome-detail {
      width: 130px;
    }
  }
}
@media (max-width: 991px){
  .ivynav #block-ivyopp-main-menu,
  .user-logged-in .ivynav #block-ivyopp-main-menu {
    width: 100%;
    margin: 0;
  }
  .region-navigation > div {
    width: 100%;
  }
  .views-blockheader-user-details-block-1 .row > div {
    display: block;
    width: 100%;
  }
  .welcome-user.anonymous-user,
  .welcome-user {
    width: 100%;
    height: auto;
    padding: 3.5px 8px 5px;
    text-align: center;
    margin-bottom: 10px;
    a {
      width: 100%;
    }
  }
  .welcome-detail.anonymous-user-detail,
  .user-logged-in .welcome-detail {
    width: 100%;
    padding: 0 8px;
    text-align: center;
    .login-link {
      width: 100%;
      padding: 3.5px 0 5px;
    }
  }
  .welcome-detail ul {
    width: 100%;
  }
}

@include mquery(tablet){
  .ivynav {
    .navbar-nav > {
      .nav-item {
        a {
          display: inline-block;
        }
        &:after {
          display: none;
        }
        &.dropdown {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            border: solid #e67e22;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            font-size: 0;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            right: 15px;
            top: 18px;
            bottom: 0;
            margin-left: auto;
            width: 5px;
            height:5px;
          }
          .menu {
            .nav-item {
              .nav-link {
                color:#000;
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
